@import 'bootstrap/scss/bootstrap';

$white: #FFFFFF;
$card-background-color: #F5F2ED;
$primary-button-color: #0D6B80;
$secondary-button-color: #E6AA4B;
$link-color: #183461;
$black: #262F3B;
$alt-text-color: #785720;
$input-color: #CDC4BC;
$border-radius: 10px;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

body {
    font-family: 'Oxygen', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: $font-weight-bold;
}

.lightbox {
    background-color: rgba(0, 0, 0, 0.50);
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .lightbox-content {
        background-color: $white;
        border-radius: $border-radius;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 50%;
    }
}

input[type="radio"] {
    display: none;
}

.star {
    cursor: pointer;
}

.card-link {
    background-color: $card-background-color;
    padding: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}