@import 'bootstrap/scss/bootstrap';
@import './variables.scss';

body {
    font-family: 'Oxygen', sans-serif;
    color: $black;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: $font-weight-bold;
}

.nav {
    background-color: $card-background-color;

}

.dropdown {
    background-color: $card-background-color;
    color: $black;
    border: none;
}

.dropdown-menu {
    background-color: $card-background-color;
}

.lightbox {
    background-color: rgba(0, 0, 0, 0.50);
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .lightbox-content {
        background-color: $white;
        border-radius: $border-radius;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 50%;
    }
}

input[type="radio"] {
    display: none;
}

.star {
    cursor: pointer;
}

.card-link {
    background-color: $card-background-color;
    padding: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    border-radius: $border-radius;
    cursor: pointer;
}