/* --------------------------------- COLORS --------------------------------- */
$white: #FFFFFF;
$card-background-color: #F5F2ED;
$primary-button-color: #0D6B80;
$secondary-button-color: #E6AA4B;
$link-color: #183461;
$black: #262F3B;
$alt-text-color: #785720;
$input-color: #CDC4BC;

/* ---------------------------------- FONT ---------------------------------- */
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

/* ---------------------------------- OTHER --------------------------------- */
$border-radius: 0.5rem;